@model UI.Models.RoomViewModel

@{
    ViewBag.Title = "Add Room";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>

    <h2 class="mt-5 text-warning">Create room</h2>

    @using (Html.BeginForm("AddRoom", "Rooms", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control bg-dark border border-warning" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "w-100 bg-dark border border-warning text-light rounded" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PassingTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PassingTime, new { htmlAttributes = new { @class = "form-control bg-dark border border-warning", @type = "time" } })
                    @Html.ValidationMessageFor(model => model.PassingTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinPlayers, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MinPlayers, new { htmlAttributes = new { @class = "form-control bg-dark border border-warning", @min = "1", @max = "10" } })
                    @Html.ValidationMessageFor(model => model.MinPlayers, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinAge, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MinAge, new { htmlAttributes = new { @class = "form-control bg-dark border border-warning", @min = "1", @max = "100" } })
                    @Html.ValidationMessageFor(model => model.MinAge, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DifficultyLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DifficultyLevel, new SelectList(Enum.GetValues(typeof(UI.Models.DifficultyLevel))), new { @class = "form-control bg-dark border border-warning" } )
                    @Html.ValidationMessageFor(model => model.DifficultyLevel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HorrorLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.HorrorLevel, new SelectList(Enum.GetValues(typeof(UI.Models.HorrorLevel))), new { @class = "form-control bg-dark border border-warning" })
                    @Html.ValidationMessageFor(model => model.HorrorLevel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control bg-dark border border-warning" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control bg-dark border border-warning" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                <p class="text-warning">Pattern: (000) 000-0000</p> 
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyPhone, new { htmlAttributes = new { @class = "form-control bg-dark border border-warning" }, @type = "tel", @pattern = "([0-9]{3}) [0-9]{3}-[0-9]{4}" })
                    @Html.ValidationMessageFor(model => model.CompanyPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control bg-dark border border-warning", @min = "1", @max = "9999" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
                <p class="text-warning">From 0 to 5 stars</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control bg-dark border border-warning", @type = "number", @min = "0", @max = "5", @step = "0.1" } })
                    @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DecorationType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DecorationType, new SelectList(ViewBag.Types), new { @class = "form-control bg-dark border border-warning" } )
                    @Html.ValidationMessageFor(model => model.DecorationType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-warning mt-2 mb-2" />
                </div>
            </div>
        </div>
    }

</center>