@model IEnumerable<UI.Models.UserViewModel>

@{
    ViewBag.Title = "ASP.NET Identity";
}

<div class="panel panel-primary mt-5 text-warning">
    <div class="panel-heading">
        Users
    </div>
    <table class="table table-striped text-warning">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Options</th>
        </tr>
        @if (Model == null)
        {
            <tr>
                <td colspan="3" class="text-center">No users!</td>
            </tr>
        }
        else
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>
                        <button class="btn btn-danger btn-xs" onclick="editUser('@user.Id')">Edit</button>
                        <button class="btn btn-danger btn-xs" onclick="deleteUser('@user.Id')">Delete</button>
                    </td>
                </tr>
            }
        }
    </table>
</div>