@model List<UI.Models.RoomViewModel>

@foreach (var item in Model)
{
    <div class="d-flex flex-column flex-lg-row border bg-darkgray align-items-center border-warning p-3">
        <img class="h-100px w-120px o b-fit-cover mr-lg-4" src="@item.ImagesUrl[0]" />
        <div class="d-flex flex-lg-nowrap">
            <span class="text-warning ml-xl-5 h5">Id: @item.Id</span>
        </div>
        <div class="w-20 ml-xl-2">
            <span class="text-warning h4">@item.Name </span>
        </div>
        <span class="mr-xl-4 text-warning">Amount of hours:</span>
        <div class="d-flex justify-content-center flex-nowrap m-sm-1">
            <input type="button" value="-" class="btn btn-warning rounded-right-0" data-field="quantity" onclick="decrementValue(@item.Id, @item.Price)">
            <input id="@item.Id" type="number" min="1" step="1" max="24" value="1" readonly="readonly" name="quantity" class="h-41px quantity-field pl-3 pr-1 text-center bg-dark border-warning border-solid text-warning">
            <input type="button" value="+" class="btn btn-warning rounded-left-0" data-field="quantity" onclick="incrementValue(@item.Id, @item.Price)">
        </div>
        <span class="text-warning ml-xl-auto">Price: <span id="span_@item.Id">@item.Price</span> $</span>
        <a class="btn bg-greenyellow ml-xl-auto m-sm-1" onclick="deleteOrder(@item.Id)">Delete Order</a>
    </div>
}
