@model IEnumerable<UI.Models.ReadUserViewModel>

@{
    ViewBag.Title = "ASP.NET Identity";
}

<center><h2 class="mt-5 text-warning">Users</h2></center>

<div class="container-lg mt-5 text-warning">
    <table class="table table-bordered table-dark border-warning bg-darkgray">
        <tr class="text-greenyellow">
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Roles</th>
            <th>Options</th>
        </tr>
        @if (Model == null)
        {
            <tr class="text-warning">
                <td colspan="3" class="text-center">No users!</td>
            </tr>
        }
        else
        {
            foreach (var user in Model)
            {
                <tr class="text-warning">
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Roles</td>
                    <td>
                        <div class="d-flex justify-content-around align-items-center">
                            <button class="btn bg-greenyellow btn-xs" onclick="editUser('@user.Id')">Edit</button>
                            <button class="btn bg-danger btn-xs" onclick="deleteUser('@user.Id')">Delete</button>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>