@model UI.Models.SignInUserViewModel

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>

    <h2 class="mt-5 text-warning">Sign In</h2>

    @using (Html.BeginForm("SignIn", "Rooms", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 text-success" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "text-greenyellow form-control bg-dark border border-warning" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 text-success" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "text-greenyellow form-control bg-dark border border-warning", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sign In" class="btn btn-warning mt-2 mb-3" />
                </div>
            </div>
        </div>
    }

</center>